__pycache__
.venv
.models
.test
.vscode
*.env
*.log
.hfcache
.outputs
.models
.data
.cleaned
.raw_data
.db
.dataset
.merged
.past_data
.generated
__pycache__
unsloth*
_unsloth*
llama.cpp
SmolLM2*
soumitsr*
flagged
unsloth*
DEPRECATE*
