transformers
sentence-transformers
infinity-emb[all]
accelerate
optimum
openvino
onnxruntime
optimum[intel]
optimum[onnxruntime]
optimum[openvino]
gliner
diffusers
vllm
openai
llama-index
tiktoken
numpy
retry
pydantic
icecream
textcase
